/*Riverwalk*/
/*Fonts upload*/
@font-face {font-family: Gotham-Black; src: url(/etc/designs/retail-sites/Riverwalk/fonts/Gotham-Black.woff);}
@font-face {font-family: Gotham-Black; src: url(/etc/designs/retail-sites/Riverwalk/fonts/Gotham-Black.ttf);}
@font-face {font-family: Gotham-Bold;  src: url(/etc/designs/retail-sites/Riverwalk/fonts/Gotham-Bold.woff);}
@font-face {font-family: Gotham-Bold;  src: url(/etc/designs/retail-sites/Riverwalk/fonts/Gotham-Bold.ttf);}
@font-face {font-family: Gotham-Book;  src: url(/etc/designs/retail-sites/Riverwalk/fonts/Gotham-Book.woff);}
@font-face {font-family: Gotham-Book;  src: url(/etc/designs/retail-sites/Riverwalk/fonts/Gotham-Book.ttf);}
@font-face {font-family: Gotham-Light; src: url(/etc/designs/retail-sites/Riverwalk/fonts/Gotham-Light.woff);}
@font-face {font-family: Gotham-Light; src: url(/etc/designs/retail-sites/Riverwalk/fonts/Gotham-Light.ttf);}

li {
    font-family:'Gotham-Book';
}

p {
    font-family:'Gotham-Book';
}
.section p{
    text-align:left;
    line-height: 1.3125rem;
}
/*div.item.featured .info p:not(.date){
    text-align:left;
}*/

.line-clamp span {
    font-family:'Gotham-Book';
    text-align: justify;
    font-size:0.75rem;
    font-weight:400;
}

/*H123456*/
h1.seaport:after, h1:after, h2:after, h2.seaport:after{
    height:2px;
}
h2.undefined{
    font-family:'Gotham-Bold';
    letter-spacing: 10px;
    text-transform: uppercase;
    margin-top:0.6em;
}
h2 span{
    padding: 0 0.5rem;
}
div.item.tile .cover .info h2 a{
    font-family:'Gotham-Bold';
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing:3px;
}

/*Header*/
header .hhnav li a{
    font-family:"Gotham-Book";
    font-weight: 400;
    line-height: 1.8;
    font-size: .75rem;
}
header .mainnav nav>ul li a{
    font-family:"Gotham-Book";
    font-weight: 400;
    line-height: 1.8;
    font-size: .75rem;
    letter-spacing: 1px;
}
header .mainnav nav>ul li a:hover{
    font-family:"Gotham-Book";
    font-weight: 400;
    line-height: 1.8;
    font-size: .75rem;
    letter-spacing: 1px;
}


/*Search fixies*/
header .mainnav nav .header-search>a{
    width:1.25rem;
    height:1.25rem;
    flex: 0 0 1.5rem;
}
header .mainnav nav .header-search>div form input[type="text"]{
    padding-left:5px;
    width:0;
}
header .mainnav nav .header-search>div form input[type="text"]:focus {
    padding-left:5px;
    width:100%;
}


.section p{
    text-align:justify;
    line-height: 1.3125rem;
}


/*iwantto*/
.propnav ul li{
    font-family:"Gotham-Book";
    font-weight: 400;
    line-height: 1.8;
    font-size: .75rem;
    letter-spacing: 1px;
}


/*Carousel style*/
.carousel-tile.no-hover .carousel-inner .item.tile .cover .info h2{
    padding-left:1.25rem;
    margin-top:5px;
}
.carousel-tile.no-hover .carousel-inner .item.tile .cover .info p.date:after{
    border-color: #b4b4b4;
}
.carousel.hero-carousel .item .copy{
    top: 45%;
}
.carousel.hero-carousel .item .copy p{
    margin-top: 2rem;
}
.carousel.hero-carousel .item .copy h1{
    font-family:"Gotham-Bold";
    text-transform:uppercase;
    letter-spacing: 10px;
    padding: 0 6rem;
}
.carousel-tile.no-hover .carousel-inner .item.tile .cover .info h2 {
	font-size: .90rem
} 


a.btn.cta{
    font-family:"Gotham-Bold";
    font-weight: 400;
    font-size: 1.5em;
    letter-spacing: 3px;
    padding: 0.2rem 1rem;
}
a.btn.cta.outline{
    border: 3px solid transparent;
}


/*Banner*/
div.banner h1,
div.banner.with-btn h1,
div.banner.large h1,
div.banner.copy h1,
div.banner.with-btn .copy h1,
div.banner.large .copy h1{
    font-family:'Gotham-Bold';
    text-transform: uppercase;
    letter-spacing:10px;
    font-weight:normal;
    width: 100%;
    font-size:3rem;
}

/*Text-center Banner*/
div.banner.text-align-center .copy h1{
    font-family:'Gotham-Bold';
    text-transform: uppercase;
    width: 100%;
    text-shadow: grey 1px 1px 15px;
}


div.banner.with-btn.with-btn .copy a {
    font-family:'Gotham-Book';
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 0 2rem;
}
div.banner.with-btn .copy a{
    border: 3px solid #fff;
}



.tenant-directory .tenant-container .tenant-list>div h3 a{
    text-align:center;
    text-transform:uppercase;
}



/*Spotlight*/
div.item.featured.call-out .item-inner .info h2{
    font-family:'Gotham-Book';
    letter-spacing: 5px;
    line-height:2.5rem;
    margin-bottom: 0.3rem;
    text-transform: uppercase;
}
div.item.featured.call-out.with-img .item-inner{
    background: linear-gradient(to top left, #EAA2B4, #ECC2AE);
}
div.item.featured.call-out .item-inner .info .outline{
    border-color:#fff;
}
div.item.featured.call-out .item-inner .info{
    background: transparent;
    color:#fff;
}
div.item.featured.call-out .item-inner .info p{
    font-family:'Gotham-Book';
    letter-spacing:0;
    text-transform: uppercase;
}
div.item.featured.call-out .item-inner .info p.category:after{
    background: #fff;
    width:6.5rem;
}
div.item.featured .info p.category{
    font-family:'Gotham-Book';
    letter-spacing:2px;
    border-color:#fff;
}
div.item.featured.call-out .item-inner .info a.btn.cta{
    font-family:'Gotham-Book';
    letter-spacing:3px;
}
a.btn.cta,
span.bta.cta,
button.btn.cta,
input[type="submit"].btn.cta{
    background: transparent;
    background: linear-gradient(to bottom, transparent 50%, #fff 50%);
    background-size:100% 225%;
    background-position: left -1px;
    color: #000;
    -webkit-transition:all 0.5s ease;
    transition: all 0.5s ease;
    padding: 0 2rem;
    line-height: 2.5rem;
    text-transform: uppercase;
}

div.item.featured.call-out .item-inner .info a.btn.cta:hover{
    color:#000;
}

/*Events - calendar*/
.cal #calendar table .fc-day-header{
    font-family:'Gotham-Book';
}
.cal #calendar .fc-toolbar .fc-center h2 {
    font-family:'Gotham-Book';
}
.cal #calendar .fc-toolbar .fc-center>a {
    font-family:'Gotham-Book';
}
.cal #calendar table .fc-day-number{
    font-family:'Gotham-Book';
}
.fc-content{
    display:none;
        }
div.item.featured.event .item-inner .info h2{
    font-family:'Gotham-Book';
}
.calendar .mobile-datepicker form label{
    font-family:'Gotham-Book';
        }

/*Contact - Tabs*/
div.tabbed .tabs li a {
    font-size: 1rem;
    letter-spacing: normal;
    text-transform: none;
}

div.banner .copy p{
    font-family:'Gotham-Book';
    text-shadow: grey 1px 1px 1px;
}
h2+p.subtitle{
    font-family:'Gotham-Book';
}
h2.seaport{
    font-family:'Gotham-Bold';
    letter-spacing: 10px;
    text-transform: uppercase;
    margin-top: 0.6em;
}

/*Contacts*/
.contact-us p span{
    font-family:'Gotham-Book';
    font-size:0.75rem;
}
.contact-us div span, .contact-us p span a{
    font-family:'Gotham-Book';
    font-size:0.75rem;
}
a.contactby.phone{
    font-family:'Gotham-Book';
    font-size:0.75rem;
}
p.hours:before {
    margin: 0 .8rem 1.5rem 0;
}


/*SignIn Form*/
footer form fieldset input[type="email"]{
    font-family:'Gotham-Book';
}
footer form fieldset input[type="submit"]{
    font-family:'Gotham-Book';
}
footer form fieldset input[type="submit"]:hover{
    font-family:'Gotham-Book';
}
footer form label{
    font-family:'Gotham-Book', sans-serif;
}


/*Copyright*/
footer .copyright{
    font-family:'Gotham-Book';
}


/*IE11/Edge fix*/
header .mainnav nav>ul li.logo {
    height:4rem;
    flex: 0 0 15rem;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active){
    header .hhnav li:first-child svg {
        padding-right:10em;
    }
}


/*Rewards*/
iframe#no-target {
    height:0;
}
div.noHtmlText.text.parbase.section{
    margin-bottom:4em;
}

/*Footer*/
footer p{
    height:4.5rem;
}
footer p, footer ul {
    font-family:'Gotham-Book';
    font-size: 0.875em;
}
.headline h3.text-left{
   	text-align:center;
}
div.noHtmlText.text.parbase.section{
        padding:0 1rem 1rem;
        text-align:justify;
    }

/*Mobile View*/

@media screen and (max-width: 1508px) and (min-width:991px) {
    .carousel-tile.no-hover .carousel-inner .item.tile .cover .info a.category,
	.carousel-tile.no-hover .carousel-inner .item.tile .cover .info a.cta:not(.btn){
    top:90%;
	}
}

@media screen and (max-width: 1190px) and (min-width:990px){
    div.banner.with-btn .copy h1{
        font-size:2.3rem;
    }
    footer p{
    height:2rem;
}
}

@media screen and (max-width: 991px) and (min-width:426px) {
.carousel-tile.spaced .carousel-inner .item.tile {
    margin:0 0.5rem;
	}
    .carousel-tile.no-hover .carousel-inner .item.tile .cover .info a.category{
    top:90%;
    left:10%;
	}
	.carousel-tile.no-hover .carousel-inner .item.tile .cover .info a.cta:not(.btn){
    top:90%;
    right:10%;
	}
	.carousel-tile .carousel-inner div.item.tile .cover .info{
    width:90%;
    }
}

@media screen and (max-width: 991px){
div.banner.with-btn .copy h1, div.banner.with-btn .copy h2, div.banner.with-btn .copy h3{  
    font-size: 2.05rem !important;
	}
    footer>.row:first-child>div{
        padding-bottom:2.5rem;
    }
    footer p{
    height:5rem;
}
}

@media screen and (max-width: 770px){
    .carousel.hero-carousel .item .copy h1{
         padding: 0 4rem;
    }
    div.item.featured.call-out .item-inner .info{
         margin-bottom: 4em;
    }
    .carousel.hero-carousel .item .copy h1{
         letter-spacing:0.3em
	}
}

@media screen and (max-width: 450px){
/*Rewards mobile*/
     div.noHtmlText.text.parbase.section{
    	margin-bottom:4em;
        padding:0 1em;
	 }
     form#footer-email-signup.rewardsignup{
        padding: 1em;
     }
     div.fieldreward input[type="email"]{
        width:75%
     }
     div.banner.text-align-center .copy h1 {
         font-family:'Gotham-Bold';
         text-transform: uppercase;
         width: 100%;
     }
     h2.undefined {
         letter-spacing:0.3rem;
     }
     .item.tile {
         margin-bottom:0.5rem;
     }
     .carousel-tile.padded {
         padding:1em 0;
     }
     .carousel.hero-carousel .carousel-control svg {
         display:none;
     }
     .carousel.hero-carousel .item .copy h1 {
         font-size:1.2em;
         padding: 0;
     }
    .carousel.hero-carousel .item .copy {
         display: block;
         padding: 4rem 2rem;
         text-align: center;
     }
     .carousel-tile .carousel-inner .item.tile .item-inner>a {
         height:60vw;
     }
     .carousel-tile.no-hover.padded .carousel-control {
        top: calc(30vw + 2.5rem);
     }
     div.item.featured.call-out .item-inner .info p.category{
        font-size:1rem;
     }
     div.item.featured.call-out .info h2{
        font-size:1.1rem;
     }
     div.item.featured.call-out .info p{
        font-size:0.8rem;
     }
     a.btn.cta{
        font-size: 13px;
        width:83%;
        padding: 0 1rem;
     }
     .btn.cta.outline{
        letter-spacing:2px;
        text-align:center;
     }
	div.item.featured.call-out .item-inner .info h2 {
		line-height: 1.5rem;
	}
    footer p{
    height:8rem;
}
}

@media screen and (max-width: 375px){
	div.fieldreward input[type="email"]{
    	width:68%;
   	}
    a.btn.cta{
 	   	font-size: 13px;
 	   	width:90%;
  	  	padding: 0 0;
	}
	.btn.cta.outline{
    	letter-spacing:1px;
    	text-align:center;
 	}
	.carousel.hero-carousel .item .copy h1{
   		letter-spacing: 0.07em;
    }
	h2.undefined{
    	letter-spacing:0;
	}
	.carousel-tile.no-hover .carousel-inner .item.tile .cover .info a.cta:not(.btn){
    	position:static;
    	float:right;
	}
	.carousel-tile .carousel-inner div.item.tile .cover .info a.category{
    	position: static;
	}
	div.banner.text-align-center .copy h1{
		letter-spacing:3px;
	}
	div.banner.with-btn.with-btn .copy a{
		padding:0 1rem;
	} 
}